@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  background-image: url('bg.png');
  background-size: cover;
}

.bg-blue {
  background-color: #00ffff45;
  color: black !important; 
  border-radius: 16px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-palabra {
  width: 576px;
  height: 521px;
  color: rgb(var(--foreground-rgb));
  background-image: url(/_next/static/media/miku.f5c9febd.png);
  background-size: cover;
  background-position: center;
}

.miku-p{
  text-align: center;
  vertical-align: middle;
  line-height: 521px; 
}